@media screen and (min-width:481px) and (max-width:899px){
	body {
		background-color:blue;
	}
}

@media screen and (min-width:480px){
	body {
	background-color:green;
	}
}

@media screen and (min-width:900px){
	body {
		background-color:red;
	}
}

